* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
::-webkit-scrollbar-track {
background: #fdfdfd;
border-radius: 2px;
}

::-webkit-scrollbar-thumb {
background: #dddddd;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #dddddd;
}